*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #360033, #0b8793);
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    height: 85vh;
    width: 50vw;
    background: #ecf0f1;
    margin-top: 8vh;
    margin-left: 25vw;
    padding-top: 8vh;
}

.section{
    height: 70vh;
    width: 35vw;
    background: white;
    border-radius: 10px;
    margin-left: 8vw;
}

h1{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 20px;
    font-size: 30px;
}

.section label{
    margin-left: 14.5vw;
    font-size: 20px;
}

.section textarea{
    margin-top: 10px;
    margin-left: 2vw;
    margin-bottom: 10px;
    font-size: 17px;
    padding-left: 10px;
}

button{
    margin-left: 12.5vw;
    margin-top: 10px;
    background: linear-gradient(to right, #360033, #0b8793);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 12px 22px;
}

#result{
    border: 1px solid gray;
    border-radius: 5px;
    width: 31vw;
    margin-top: 30px;
    margin-left: 2vw;
    height: 6vh;
    padding-top: 10px;
    padding-left: 10px;
}
